.cal-open {overflow: hidden;}

div[id^=div_cal] {
	font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif;
	width: 250px;
	height: auto;
	position: fixed;
	top: calc(50vh - 150px);
	left: calc(50vw - 125px);
	z-index: 1500;
}

table[id^=tbl_cal] {
	background-color: transparent !important;
}

table[id^=tbl_cal] thead tr:first-child th {
	text-align: center !important;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

table[id^=tbl_cal] th,
table[id^=tbl_cal] td {
	text-align: center;
	background-color: #fff !important;
}

table[id^=tbl_cal] tbody tr td { text-align: center; }

table[id^=tbl_cal] .clickable {
	text-decoration: underline;
	cursor: pointer;
	background-color: palegreen !important;
}

table[id^=tbl_cal] .clickable:hover {
	text-decoration: none;
}

table[id^=tbl_cal] .unClickable {
	background-color: #e9e9e9 !important;
}

table[id^=tbl_cal] .unClickable.trans {
	color: rgba(0, 0, 0, .3);
}

table[id^=tbl_cal] thead tr:nth-child(2) th:first-child,
table[id^=tbl_cal] tbody td:first-child,
table[id^=tbl_cal] .holidays {
	color: red;
}

table[id^=tbl_cal] tbody .unClickable.trans.holidays,
table[id^=tbl_cal] thead tr:nth-child.unClickable.trans {
	color: rgba(255, 0, 0, .3);
}

table[id^=tbl_cal] thead tr:nth-child(2) th:last-child,
table[id^=tbl_cal] tbody td:last-child,
table[id^=tbl_cal] .saturday {
	color: blue;
}

table[id^=tbl_cal] tbody td:last-child.unClickable.trans {
	color: rgba(0, 0, 255, .3);
}

table[id^=tbl_cal] .today_cell {
	background-color: yellow !important;
}

table[id^=tbl_cal] .today_cell.unClickable.trans {
	background-color: rgb(255, 255, 180) !important;
}

table[id^=tbl_cal] tr[name=calControl] a:hover {
	cursor: pointer;
}

table[id^=tbl_cal] tfoot td:first-child {
	text-align: left;
	border-bottom-left-radius: 4px;
}

table[id^=tbl_cal] tfoot td:last-child {
	text-align: left;
	color: red;
	font-weight: bold;
	border-bottom-right-radius: 4px;
}