textarea {
	overflow-y: scroll;
}

div.form-group {
	margin-bottom: 0;
	padding: 4px 0;
}

#inb_memo {
	width: 100%;
	height: calc(100vh - 538px);
	border-radius: 0;
	resize: none;
	-ms-ime-mode: active;
}

#inb_memo.collapsed { height: calc(100vh - 119px); }
#inb_memo.collapsed_full { height: calc(100vh - 161px); }
#inb_memo_memo {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#memo {
	height: 100vh;
	padding: 10px 15px;
}
#memo.full {
	height: calc(100vh - 38px);
}
#memo > div.panel {
	overflow-y: hidden;
	margin-bottom: 10px;
}
#memo > div.panel > div.panel-heading { padding: 6px; }
#memo > div.panel > div.panel-heading > h5 {
	text-align: center;
	font-size: 15px;
}

#memo div.form-group:nth-child(odd) {
	background-color: #f6f6f6;
}
#memo_title {
	cursor: pointer;
}
#memo_title:hover {
	text-decoration: underline;
}
#memo > div.list-group {
	margin-bottom: 0;
}
#hearing {
	padding: 8px 8px 0;
	overflow-x: hidden;
	overflow-y: auto;
	height: 377px;
	max-height: 377px;
}

#pop_message,
#alert_message {
	width: 100%;
	position: fixed;
	top: 50%;
	z-index: 1100;
	text-align: center;
}
#pop_message div,
#alert_message div {
	display: inline-block;
	width: 60%;
	padding: 8px;
	border-radius: 6px;
}
#pop_message div {
	color: #468847;
	border: 2px solid #b2dba1;
	background-color: rgba(223, 240, 216, 0.9);
}
#alert_message div {
	color: #884647;
	border: 2px solid #dbb2a1;
	background-color: rgba(240, 223, 216, 0.9);
}

#honkaku table > tbody > tr.odd { background-color: #fff6f6;}
#honkaku table > tbody > tr.even { background-color: #f6f6ff;}
#honkaku td {
	width: 33%;
	border-style: none !important;
	padding: 5px 15px;
}
#honkaku .checkbox {
	margin-top: 0;
	margin-bottom: 0;
}
.focus { background-color: #ffefef; }

.menu_btn_box {
	position: fixed;
	top: 0;
	right: 0;
	width: 38px;
	height: 32px;
	background-color: #fcfcfc;
	opacity: .8;
	background-origin: 1px solid #ccc;
	border-radius: 4px;
	z-index: 11;
}

.menu_btn_box > span {
	background-color: #ccc;
	position: relative;
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 1px;
}

.menu_btn_box span + span { margin-top: 4px; }
.menu_btn_box:hover { background-color: #f0f0f0; }

#memo_resize { cursor: pointer; }
.panel-body .table { margin-bottom: 0; }

#template { float: right; }
#template .panel-body { background-color: #f5f5f5; }

#template > div.tab-content > div.tab-pane > div.panel {
	height: calc(100vh - 58px);
	margin: 10px 0;
}
#template > div.tab-content > div.tab-pane > div.panel > div.panel-heading { padding: 6px; }
#template > div.tab-content > div.tab-pane > div.panel > div.panel-heading > h5.panel-title {
	text-align: center;
	font-size: 16px;
}
#template > div.tab-content > div.tab-pane > div.panel > div.panel-body > table > tbody th {
	width: 30%;
	text-align: right;
	font-weight: normal;
	background-color: #e9f6ff;
	vertical-align: middle !important;
	border-right: 1px solid #ccc;
}
#template > div.tab-content > div:firtst-child.tab-pane > div.panel > div.panel-body { padding: 15px; }
.panel-body td { background-color: #fff; }
.nav-stacked > li + li { margin-top: 0; }
select[id^="select_supp"] + select { margin-top: 1em; }

#drawer {
	position: fixed;
	top: 32px;
	right: -210px;
	width: 210px;
	height: calc(100vh - 32px);
	z-index: 10;
	overflow-y: auto;
}
#drawer li a { border-radius: 0; }
/* drawer animation */
.menu-open { transform: translateX(-210px); }

#cal_back,
#gray_back {
	position: fixed;
	width: 100vw;
	height: 0;
	top: 0;
	left: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 5;
}
#cal_back { z-index: 1200; }

#help th {
	width: auto;
	text-align: center;
	background-color: #e9f6ff;
	border: none;
}
#help th.title { border-top: 2px solid #999 !important; }
#help img {
	float: left;
	border: 2px solid #0cc !important;
	margin-right: 1em;
	margin-bottom: 1em;
}

.must {
	font-size: 10px;
	color: #f00;
	margin-left: 7px;
}
.memo {
	color: #f00;
	font-size: 13.3px;
	display: block;
	margin-bottom: 8px;
}
.nowrap { white-space: nowrap; }
.min { width: 10.5em; }
.red { color: #f00; }
.blue { color: #00f; }
.bold { font-weight: bold !important; }
.bg-pink { background-color: #ffe9f6 !important; }
.font-sm { font-size: 13.3px; }
.left { text-align: left !important; }
.center { text-align: center !important; }
.right { text-align: right !important; }
.inactive { display: none; }
.choose {
	color: #f00;
	font-weight: bold !important;
}
.sub_koumoku {
	border-right-color: #6cf !important;
	border-right-width: 6px !important;
}

/* 図解 */
table[id^=zukai] th {
	background-color: rgb(255, 236, 220) !important;
	text-align: center;
	font-weight: bold;
}
table[id^=zukai] td {
	text-align: center;
	line-height: 1.1 !important;
}
table[id^=zukai] td.none {
	background-color: #999 !important;
	color: #fff;
}
.zukai-hover > tbody > tr:hover > td {
	background-color: rgb(180, 242, 192);
}

/* カレンダー */
div[id^=div_cal] {
	display: none;
	position: absolute;
	z-index: 3;
}
table[id^=tbl_cal] tbody tr { text-align: center; }
table[id^=tbl_cal] tbody tr:last-child td:first-child { border-bottom-left-radius: 4px; }
table[id^=tbl_cal] tbody tr:last-child td:last-child { border-bottom-right-radius: 4px; }
table[id^=tbl_cal] td.clickable {
	text-decoration: underline;
	cursor: pointer;
}